/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/thecluster/cluster.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.stuff {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

.messages-cluster {
    position: absolute;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin-bottom: 2em;
    top: 50%;
    left: 10vw;
    .header {
        padding-bottom: 2em;
    }
}

.intro {
    max-width: 60vw;
    padding-bottom: 1em;
    font-size: 25px;
}

.header{
    font-size: 50px;
}

.personal{
    font-size: 50px;
    font-weight: bold;
    padding-top: 250px;
}

.personPara{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.dakshTitle{
    padding-top: 5em;
    margin-left: 20em;
    font-size: 50px;
    font-weight: bold;
}

.dakshPara{
    text-align: justify;
    font-style: italic;
    padding-top: 1em;
    margin-left: 34em;
    font-size: 30px;
}

.daanishTitle{
    padding-top: 5em;
    font-size: 50px;
    font-weight: bold;
}

.daanishPara{
    font-style: italic;
    padding-top: 1em;
    margin-left: .8em;
    font-size: 30px;
    padding-bottom: 100px;

}

.Dakrole{
    font-size: 20px;
    margin-left: 50em;
}
