/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/thecluster/cluster.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.cluster-container {
    position: absolute;
    max-height: 30vw;
    left: 10em;
    top: 10em;
}

h2 {
    font-size: 6vw;
    color: white;
}

.spider-couple {
    max-width: -moz-fit-content;
    max-width: fit-content;
    max-width: 50%;
}
