/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/expandyourweb/expand.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.stuff {
    display: flex;
    flex-direction: column;
}

.lorem { 
    color: white;
    padding-top: 580px;
    padding-left: 170px;
    padding-right: 170px;
    text-align: justify;
}
