/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/expandyourweb/expand.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.stuff {
    display: flex;
    flex-direction: column;
}

.messages-expand {
    max-width: 50vw;
    position: absolute;
    right: 8em;
    top: 50%;
    text-align: right;
    color: white;
}

.messages-expand > .lorem {
    padding-bottom: 100px;
}

.header {
    right: 0;
    color: white;
    top: 40%;
    padding-bottom: 20vh;
}


