/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/ourwebs/ourwebs.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.stuff {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: max-content;
    height: 5000px;
}

.messages {
    position: absolute;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin-bottom: 2em;
    top: 50%;
    left: 8em;
}

.messages > .para {
    max-width: 50vw;
}

#text {
    text-align: left;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    max-width: 50vw;
    max-height: min-content;
    top: 40%;
    font-size: 5vw;
}

.risk-container {
    height: 50vh;
    width: 50vw;
    right: 0;
    iframe {
        width: 100%;
        height: 80%;
    }
}


.fitting-image {
    height: 60vh;
    width: 25vw;
    object-fit: cover;
}
