.stuff {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

.messages-cluster {
    position: absolute;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin-bottom: 2em;
    top: 50%;
    left: 4em;
    .header {
        padding-bottom: 2em;
    }
}

.para {
    max-width: 60vw;
    padding-bottom: 1em;
}