.menu-bar, .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.menu-bar a, 
.menu-open {
    font-weight: bold;
    padding-right: 2em;
    padding-top: 0em;
    color: #fff;
    cursor: pointer;
}

.menu-close p {
    color: #000;
    cursor: pointer;
}

.menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 2em;
    background: rgb(191, 191, 191);
    z-index: 5;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-overlay-bar {
    justify-content: space-between;
    display: flex;
    position: absolute;
    margin: auto;
    top: 2em;
    padding-right: 6em;
    width: 100%;
  }

.menu-copy {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.menu-preview {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


  
  .menu-logo,
  .menu-close {
    position: relative;

    /* Adjust top and left properties for individual positioning */
  }
  
.menu-close {
    right: 3em;
}

.menu-link-item {
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100vw 80%, 0 80%);
}

.menu-link-item-holder {
    position: relative;   
}

.menu-link-item-holder a {
    padding-bottom: 7px;
    color: #000;
    font-size: 6vw;
    font-weight: 400;
    letter-spacing: -.02em;
    line-height: 130%;
}

.menu-info {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    bottom: 1em;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    justify-content: space-between;
}

.menu-info-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
}

#socials {
    padding-right: 4em;
    text-align: right;
}

#contacts {
    text-align: left;
}

.menu-close-icon p {
    font-size: 100px;
    position: absolute;
    -webkit-text-stroke: 6px rgb(191, 191, 191);
    line-height: 70%;
    bottom: .25em;
    left: .25em;
}


 
.menu-close-icon p:hover, 
.menu-logo:hover, 
.menu-close:hover {
    opacity: .5;
}

.company-name {
    margin-top: auto;
    text-align: center;
}

.spider-logo{
    filter: invert();
    height: 4em;
    padding-left: 1em;
}

.spider-logo-overlay {
    color: black;
    height: 4em;
    padding-left: .7em;
    padding-bottom: .4em;
}

.menu-link {
    color: #000000;
  position: relative;
  text-decoration: none;
}

.menu-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.8vw;
  border-radius: 0px;
  background-color: #000000;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .7s ease-in-out;
}

.menu-link:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

